body {
    max-width: 600px;
    margin: 40px auto 0;
    font-family: sans-serif;
    line-height: 1.5;
}
h2{
    border-top: solid 5px lightgray;
    padding-top: 50px;
    text-transform: uppercase;
    letter-spacing: 1px;
}
h2 span{
    font-family: Georgia, serif;
    font-style: italic;
    font-size: 18px;
    color: gray;
    display: inline-block;
    margin-left: 270px;
}
p{
    color: #666;
}
#primeiro{ /*seletor de id*/
    font-size: 18px;
    font-weight: bold; 
}
.azul{ /*seletor de classe*/
    color: blue;
}
[nome = menor]{ /*seletor de atributo*/
    border: dotted 1px black;
}
footer{
    margin-bottom: 50px;
}
ol{
    margin: 0;
    padding: 0;
    margin-bottom: 60px;
}
li{
    background-color: lightgray;
    border-radius: 6px;
    margin-bottom: 10px;
}
li a{
    text-decoration: none;

}
li a:visited{
    color: black;
}
li a:hover{
    color: green;
    font-size: 20px;
}
.final{
    height:50px;
    width:50px;
    border-radius: 4px;
    border: none;
    color: white; /* muda a cor do conteúdo*/
    font-size: 20px;
    margin: auto 15px;    
}
.final:nth-child(1){
    background-color: green;
}
.final:nth-child(2){
    background-color: yellow;
}
.final:nth-child(3){
    background-color: blue;
}
.final:nth-child(4){
    background-color: yellow;
}
.final:nth-child(5){
    background-color: green;
}
img{
    position: fixed;
    border: red 3px solid;

    /*
    -estatica
    -positon sticky n remove img da posição inicial, 
        mas quando ela atinge uma posicao x ela assume aquela como fixed
        em relação aos elementos que ela tem
    -relative posiciona ela de forma relativa
    -fixed visualização fixa no viewport
    -absolut position top bottom left right é fixa em relação ao elemento anterior(pai)
         que não está com posição estatica*/ 
}
article{
    position: relative;
}